@font-face {
    font-family: Livvic-Regular;
    src: url(../assets/fonts/Livvic/Livvic-Regular.ttf);
}
@font-face {
    font-family: Livvic-SemiBold;
    src: url(../assets/fonts/Livvic/Livvic-SemiBold.ttf);
}
@font-face {
    font-family: Livvic-Bold;
    src: url(../assets/fonts/Livvic/Livvic-Bold.ttf);
}
:root{
    --primary-midnight-green: #014E56;
    --primary-light-coral:  #F67E7E;
    --primary-white: #FFFFFF;
    --secondary-rapture-blue: #79CBC7;
    --secondary-police-blue: #2C6269;
    --secondary-deep-jungle-green: #004047;
    --secondary-sacramento-state-green: #012F34;
    --secondary-dark-green: #002529;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Livvic-SemiBold;
}
a{
    text-decoration: none;
    color: unset;
}
body{
    /* Panaikint užbaigus projektą */
    background-color: #263159;
}
button[disabled]:hover{
    cursor: not-allowed;
}
.btn-type-1{
    width: 153px;
    height: 48px;
    background: unset;
    border: 2px solid #fff;
    border-radius: 24px;
}
.btn-type-1:hover{
    cursor: pointer;
    background: #fff;
    color: var(--primary-midnight-green);
}
.btn-primary__light{
    color: var(--primary-white);
}
.btn-primary__light:hover{
    background-color: var(--primary-white);
}
.btn-primary__light:disabled,
.btn-primary__light:disabled:hover{
    background: unset;
    border: 2px solid #406367;
    color: #406367;
}
.btn-primary__dark{
    color: var(--secondary-sacramento-state-green);
    border: 2px solid var(--secondary-sacramento-state-green);
}
.btn-primary__dark:hover{
    background-color: var(--secondary-sacramento-state-green);
    color: var(--primary-white);
}
.btn-primary__dark:disabled,
.btn-primary__dark:disabled:hover{
    background: unset;
    color: #BFCBCC;
    border: 2px solid #BFCBCC;
}
.btn-secondary__light{
    background-color: var(--primary-white);
    color: var(--secondary-dark-green);
    border: unset;
}
.btn-secondary__light:hover{
    background-color: var(--secondary-rapture-blue);
}
.btn-secondary__light:disabled,
.btn-secondary__light:disabled:hover{
    color: var(--secondary-dark-green);
    background-color: #406367;
}
.wrapper{
    width: calc(100% - 330px);
    margin: 0 auto;
}

.headings-h1__large, .headings-h1__small, h2, h3 {
    font-family: Livvic-Bold;
}

.body-1, .body-2 {
    font-family: Livvic-SemiBold;
}

.headings-h1__small{
    font-size: 64px;
    line-height: 56px;
}
.headings-h1__large{
    font-size: 100px;
    line-height: 100px;
}
h2{
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-size: 18px;
    line-height: 28px;
}
.body-1{
   font-size: 18px;
   line-height: 28px; 
}
.body-2{
    font-size: 15px;
    line-height:  25px;
}
     

header,
#index-stories-section,
#index-advantages-section,
#index-stories-section,
#about-top-section,
#about-stuff-section,
#about-clients-section,
#contact-main,
.banner-container
footer{
    width: 100%;
}

header,
#index-top-section,
#about-top-section,
#contact-main{
    background-color: var(--primary-midnight-green);
}

/* karolis dirba čia */
/* ! Desktop */
.header-img--talent {
    width: 157.5px;
    height: 40px;
}
.header-flex-container {
    padding-top: 73px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav div {
    /* Centers links in header */
    display: flex;
    align-items: center;
}
header nav div a{
    color: var(--primary-white);
}
header nav div a:hover{
    color: var(--primary-light-coral);
}
/* Home and About's margin-lefts */
.header-link--home {
    margin-left: 82.5px;
}
.header-link--about {
    margin-left: 40px;
}
.header-img--hamburger-icon {
    display: none;
}
.hamburger-menu {
    display: none;
}

/* Hamburger menu -   */
/* .hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    width: 67%;
    height: 100%;
} */


/* karolis baigia dirbti čia */

#index-advantages-section,
#about-clients-section{
    background-color: var(--secondary-sacramento-state-green);
}
#index-stories-section,
#about-stuff-section{
    background-color: var(--secondary-deep-jungle-green);
}
#index-advantages-section{
    position: relative;
    padding: 1px;
}
#index-advantages-section:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 244px;
    background-image: url(../assets/images/bg-pattern-home-3.svg);
    background-repeat: no-repeat;
}   
.index-advantages-section-inner{
    display: flex;
    margin-top: 198px;
    margin-bottom: 140px;
    color: var(--primary-white);
}
.advantages-title-box{
    position: relative;
    width: 445px;
}
.advantages-title-box:before{
    content: '';
    position: absolute;
    top: -54px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--primary-light-coral);
}
.advantages-box{
    width: 540px;
    margin-left: 125px;
}
.advantages-item{
    display: flex;
    margin-top: 16px;
}
.advantages-item-title-description-box{
    margin-left: 23px;
}
.advantages-item-title{
    color: var(--primary-light-coral);
}
.advantages-item-description{
    margin-top: 16px;
}
#index-stories-section{
    position: relative;
    padding: 1px;
}
#index-stories-section:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 147px;
    height: 100px;
    background-image: url(../assets/images/bg-pattern-home-4-about-3.svg);
    background-repeat: no-repeat;
}
#index-stories-section:after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background-image: url(../assets/images/bg-pattern-home-5.svg);
    background-repeat: no-repeat;
}
.stories-section-wrapper{
    margin: 140px 0px 151px 0px;
}
.stories-section--title{
    text-align: center;
    color: var(--primary-white);
}
.stories-section--title__clr{
    color: var(--secondary-rapture-blue);
}
.stories-container{
    display: flex;
    gap: 28px;
    /* flex-wrap: wrap; */
    justify-content: center;
}
.stories-item{
    position: relative;
    margin-top: 92px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 350px;
    color: var(--primary-white);
    z-index: 1;
}
.stories-item:before{
    content: '';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    width: 67px;
    height: 56px;
    background-image: url(../assets/images/icon-quotes.svg);
    background-repeat: no-repeat;
    z-index: -1;
}
.stories-description{

}
.stories-user{
    margin-top: 24px;
    color: var(--secondary-rapture-blue);
}
.stories-user-position{
    font-size: 13px;
    font-family: Livvic-Regular;
    font-style: italic;
    font-weight: 500;
}
.stories-user-avatar {
    margin-top: 32px;
}
.stories-user-avatar img{
    width: 62px;
    height: 62px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}
.banner-container{
    position: relative;
    background-color: var(--primary-light-coral);
    padding: 1px;
    overflow: hidden;
}
.banner-container:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 144px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bg-pattern-home-6-about-5.svg);
}
.banner-wrapper{
    width: calc(100% - 420px);
    margin: 0 auto;
}
.banner-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 76px 0px;
}
.banner-title{
    color: var(--secondary-sacramento-state-green);
}
footer{
    font-family: Livvic-SemiBold;
    padding: 1px;
    background-color: var(--secondary-dark-green);
}
.footer-inner{
    display: grid;
    grid-auto-columns: 285px 1fr 1fr;
    grid-template-areas: 
    "ftr-f-box ftr-adr-box ftr-sm-box-container"
    "ftr-f-box ftr-adr-box ftr-copyright";
    margin: 48px 0px;
}
.footer-logo-img{
    width: 160px;
    height: 40.63px;
}
footer nav{
    margin-top: 24.89px;
}
footer nav ul{
    list-style: none;
}
footer nav ul li{
    display: inline-block;
}
footer nav ul li:not(:first-child){
    margin-left: 40px;
}
footer nav ul li a{
    color: var(--primary-white);
}
footer nav ul li a:hover{
    color: var(--primary-light-coral);
}
/* .footer-address-box{
    margin-left: 124.97px;
} */
.footer-address-box p{
    color: var(--secondary-police-blue);
}
/* .footer-socmedia-copyright-box{

} */
.footer-soc-media-container,
.footer-copyright{
    text-align: right;
}
.footer-soc-media-container a:not(:first-child){
    margin-left: 16px;
}
.footer-soc-media-container img{
    width: 24px;
    height: 24px;
}
.footer-soc-media-container .soc-media-icon path{
    fill: var(--primary-white);
}
.footer-soc-media-container .soc-media-icon:hover path{
    fill: var(--primary-light-coral);
}
.footer-copyright{
    margin-top: 51px;
}
.footer-address-box p,
.footer-copyright{
    color: #99A8A9;
}
.footer-first-box{
    grid-area: ftr-f-box;
    /* background-color: red; */
}
.footer-address-box{
    grid-area: ftr-adr-box;
    /* background-color: purple; */
}
.footer-soc-media-container{
    grid-area: ftr-sm-box-container;
    /* background-color: green; */
}
.footer-copyright{
    grid-area: ftr-copyright;
    /* background-color: violet; */
}
footer nav ul li a{
    font-size: 18px;
    line-height: 28px;
}
/* Kodas skirtas tablet'ui */
@media screen and (max-width: 1439px) {
    .wrapper{
        width: calc(100% - 75px);
    }

/* karolis dirba čia */
/* Header, Tablet */
    .header-img--talent {
        width: 126px;
        height: 32px;
    }
    .header-link--home {
        margin-left: 50px;
    }
    .header-link--about {
        margin-left: 40px;
    }
    /* karolis baigia dirbti čia */


    h2{
        font-size: 32px;
        line-height: 32px;
    }
    body{
        /* Panaikint užbaigus projektą */
        background-color: #495579;
    }
    .index-advantages-section-inner{
        flex-direction: column;
    }
    .advantages-box{
        margin-left: 0px;
    }
    #index-advantages-section:before{
        top: 0;
    }
    .stories-container{
        gap: 0px;
        flex-direction: column;
        align-items: center;
    }
    .stories-section-wrapper{
        margin: 100px 98px 100px 97px;
    }
    .stories-item{
        margin-top: 84px;
        width: 573px;
    }
    .banner-container:after{
        bottom: -22px;
    }
    .banner-wrapper{
        width: calc(100% - 196px);
        margin: 0 auto;
    }
    .banner-btn{
        margin-top: 24px;
    }
    .footer-logo-img{
        width: 94.5px;
        height: 24px;
    }
    .footer-inner{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "ftr-f-box . ftr-adr-box"
        "ftr-sm-box-container . ftr-copyright";
    }
    footer nav{
        margin-top: 53px;
    }
    .footer-address-box p{
        text-align: right;
    }
    .footer-soc-media-container{
        margin-top: 33px;
        text-align: left;
    }

    footer nav ul li a{
        font-size: 15px;
        line-height: 25px;
    }
}
/*Kodas skirtas mobile*/
@media screen and (max-width: 767px) {
    .wrapper{
        width: calc(100% - 48px);
    }

    /* karolis dirba čia */
    /* Header, Mobile */
    .header-img--talent {
        width: 126px;
        height: 32px;
    }
    header .btn-type-1 {
        display: none;
    }
    .header-link--home, .header-link--about {
        display: none;
    }
   
    /* hamburger */
    .header-img--hamburger-icon {
        display: block;
        width: 20px;
        height: 17px; 
    }
    .header-img--hamburger-icon:hover {
        display: block;
        width: 20px;
        height: 17px; 
        cursor: pointer;
    }
    /* karolis baigia dirbti čia */

    body{
        /* Panaikint užbaigus projektą */
        background-color: #251749;
    }
    .stories-section-wrapper{
        margin: 140px 24px 164px 24px;
    }
    .stories-item{
        width: 100%;
    }
    .banner-inner{
        flex-direction: column;
    }
    .banner-title{
        text-align: center;
    }
    .footer-inner{
        grid-template-areas: 
        "ftr-f-box"
        "ftr-adr-box"
        "ftr-sm-box-container"
        "ftr-copyright";
    }
    .footer-first-box,
    .footer-address-box,
    .footer-soc-media-container,
    .footer-copyright{
        margin: 0 auto;
    }
    .footer-first-box{
        text-align: center;
    }
    footer nav{
        margin-top: 24px;
    }
    .footer-address-box{
        margin-top: 24px;
    }
    .footer-address-box p{
        text-align: center;
    }
    .footer-soc-media-container{
        margin-top: 40px;
    }
    .footer-copyright{
        margin-top: 16px;
        text-align: center;
    }
}