@font-face {
    font-family: Livvic-SemiBold;
    src: url(../assets/fonts/Livvic/Livvic-SemiBold.ttf);
}
@font-face {
    font-family: Livvic-Bold;
    src: url(../assets/fonts/Livvic/Livvic-Bold.ttf);
}
:root{
    --primary-midnight-green: #014E56;
    --primary-light-coral:  #F67E7E;
    --primary-white: #FFFFFF;
    --secondary-rapture-blue: #79CBC7;
    --secondary-police-blue: #2C6269;
    --secondary-deep-jungle-green: #004047;
    --secondary-sacramento-state-green: #012F34;
    --secondary-dark-green: #002529;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Livvic-SemiBold;
}
a{
    text-decoration: none;
}
body{
    /* Panaikint užbaigus projektą */
    background-color: #263159;
}
.btn-type-1{
    width: 153px;
    height: 48px;
    background: unset;
    border: 2px solid #fff;
    border-radius: 24px;
}
.btn-type-1:hover{
    cursor: pointer;
    background: #fff;
    color: var(--primary-midnight-green);
}
.btn-primary__light{
    color: var(--primary-white);
}
.btn-primary__light:hover{
    background-color: var(--primary-white);
}
.btn-primary__light:disabled{
    border: 2px solid #406367;
    color: #406367;
}
.btn-primary__dark{
    color: var(--secondary-sacramento-state-green);
    border: 2px solid var(--secondary-sacramento-state-green);
}
.btn-primary__dark:hover{
    background-color: var(--secondary-sacramento-state-green);
    color: var(--primary-white);
}
.btn-primary__dark:disabled{
    color: #BFCBCC;
    border: 2px solid #BFCBCC;
}
.btn-secondary__light{
    background-color: var(--primary-white);
    color: var(--secondary-dark-green);
    border: unset;
}
.btn-secondary__light:hover{
    background-color: var(--secondary-rapture-blue);
}
.btn-secondary__light:disabled{
    background-color: #406367;
}
.wrapper{
    width: calc(100% - 330px);
    margin: 0 auto;
}

.headings-h1__large, .headings-h1__small, h2, h3 {
    font-family: Livvic-Bold;
}

.body-1, .body-2 {
    font-family: Livvic-SemiBold;
}

.headings-h1__small{
    font-size: 64px;
    line-height: 56px;
}
.headings-h1__large{
    font-size: 100px;
    line-height: 100px;
}
h2{
    font-size: 48px;
    line-height: 48px;
}
h3{
    font-size: 18px;
    line-height: 28px;
}
.body-1{
   font-size: 18px;
   line-height: 28px; 
}
.body-2{
    font-size: 15px;
    line-height:  25px;
}
     

header,
#index-stories-section,
#index-advantages-section,
#index-stories-section,
#about-top-section,
#about-stuff-section,
#about-clients-section,
#contact-main,
.banner-container
footer{
    width: 100%;
}

header,
#index-top-section,
#about-top-section,
#contact-main{
    background-color: var(--primary-midnight-green);
}

header {
    padding-top: 1px;
}
/* karolis dirba čia */
.header--text-container {
    display: flex;
    align-items: center;
    margin-top: 73px;
}
header img {
    width: 157.5px;
    height: 40px;
}

header nav {
    /* Navbar container */
    margin-left: 82.5px;
}

header nav a+a {
    /* Link "about" */
    margin-left: 40px;
}
header nav a+button {
    /* "contact us" Button */
    /* margin-left: 577px; */
}
/* karolis baigia dirbti čia */

#index-advantages-section,
#about-clients-section,
footer{
    background-color: var(--secondary-sacramento-state-green);
}

#index-stories-section,
#about-stuff-section{
    background-color: var(--secondary-deep-jungle-green);
}

.banner-container{
    background-color: var(--primary-light-coral);
}

/* Kodas skirtas tablet'ui */
@media screen and (max-width: 1439px) {
    .wrapper{
        width: calc(100% - 75px);
    }
    body{
        /* Panaikint užbaigus projektą */
        background-color: #495579;
    }
}
/*Kodas skirtas mobile*/
@media screen and (max-width: 767px) {
    .wrapper{
        width: calc(100% - 48px);
    }
    body{
        /* Panaikint užbaigus projektą */
        background-color: #251749;
    }
}