@font-face {
    font-family: Livvic-Regular;
    src: url(../assets/fonts/Livvic/Livvic-Regular.ttf);
}

@font-face {
    font-family: Livvic-SemiBold;
    src: url(../assets/fonts/Livvic/Livvic-SemiBold.ttf);
}

@font-face {
    font-family: Livvic-Bold;
    src: url(../assets/fonts/Livvic/Livvic-Bold.ttf);
}

:root {
    --primary-midnight-green: #014E56;
    --primary-light-coral: #F67E7E;
    --primary-white: #FFFFFF;
    --secondary-rapture-blue: #79CBC7;
    --secondary-police-blue: #2C6269;
    --secondary-deep-jungle-green: #004047;
    --secondary-sacramento-state-green: #012F34;
    --secondary-dark-green: #002529;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Livvic-SemiBold;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

body {
    min-width: 375px;
}

button[disabled]:hover {
    cursor: not-allowed;
}

.span-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-type-1 {
    width: 153px;
    height: 48px;
    font-size: 18px;
    line-height: 28px;
    background: unset;
    border: 2px solid #fff;
    border-radius: 24px;
    transition: 0.3s;
}

.btn-type-1:hover {
    cursor: pointer;
    background: #fff;
    color: var(--primary-midnight-green);
}

.btn-primary__light {
    color: var(--primary-white);
}

.btn-primary__light:hover {
    background-color: var(--primary-white);
}

.btn-primary__light:disabled,
.btn-primary__light:disabled:hover {
    background: unset;
    border: 2px solid #406367;
    color: #406367;
}

.btn-primary__dark {
    color: var(--secondary-sacramento-state-green);
    border: 2px solid var(--secondary-sacramento-state-green);
}

.btn-primary__dark:hover {
    background-color: var(--secondary-sacramento-state-green);
    color: var(--primary-white);
}

.btn-primary__dark:disabled,
.btn-primary__dark:disabled:hover {
    background: unset;
    color: #BFCBCC;
    border: 2px solid #BFCBCC;
}

.btn-secondary__light {
    background-color: var(--primary-white);
    color: var(--secondary-dark-green);
    border: unset;
}

.btn-secondary__light:hover {
    background-color: var(--secondary-rapture-blue);
}

.btn-secondary__light:disabled,
.btn-secondary__light:disabled:hover {
    color: var(--secondary-dark-green);
    background-color: #406367;
}

.wrapper {
    width: calc(100% - 330px);
    margin: 0 auto;
}

.wrapper,
.banner-wrapper {
    max-width: 1440px;
}

.headings-h1__large,
.headings-h1__small,
h2,
h3 {
    font-family: Livvic-Bold;
}

.body-1,
.body-2 {
    font-family: Livvic-SemiBold;
}

.headings-h1__small {
    font-size: 64px;
    line-height: 56px;
    color: white;
}

.about-top-section-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.about-top-section-p {
    width: 730px;
    color: white;
}

#about-top-section::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../assets/images/bg-pattern-about-1-mobile-nav-1.svg);
    height: 200px;
    width: 100px;
    z-index: -1;
}

#about-top-section {
    position: relative;
    padding: 1px;
    z-index: 1;
}

.about-top-section-p::before {
    content: '';
    display: block;
    margin-bottom: 40px;
    height: 4px;
    width: 50px;
    background-color: var(--primary-light-coral);
}

.headings-h1__large {
    font-size: 100px;
    line-height: 100px;
}

h2 {
    font-size: 48px;
    line-height: 48px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
}

.body-1 {
    font-size: 18px;
    line-height: 28px;
}

.body-2 {
    font-size: 15px;
    line-height: 25px;
}


header,
#index-stories-section,
#index-advantages-section,
#index-stories-section,
#about-top-section,
#about-stuff-section,
#about-clients-section,
#contact-main,
.banner-container footer {
    width: 100%;
}

header,
#index-top-section,
#about-top-section,
#contact-main {
    background-color: var(--primary-midnight-green);
}

.header-img--talent {
    width: 157.5px;
    height: 40px;
}

.header-flex-container {
    padding-top: 73px;
    padding-bottom: 123px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav div {
    display: flex;
    align-items: center;
}

header nav div a {
    color: var(--primary-white);
}

header nav div a:hover {
    color: var(--primary-light-coral);
}

.header-link--home {
    margin-left: 82.5px;
}

.header-link--about {
    margin-left: 40px;
}

.header-img--hamburger-icon {
    display: none;
}

.hamburger-menu {
    display: none;
}


.talent-container {
    color: var(--primary-white);

    display: flex;
    justify-content: space-between;
}


.tc--h1 {
    width: 635px;
    height: 200px;
    padding: 8px;
    margin: 60px 0px 250px -10px;
}

.talent-container span {
    color: var(--primary-light-coral);

}

.invisible-text {
    color: transparent;
}


.paragraph-container {
    position: relative;
    margin: 0 0 0 30px;
}


.pc--rectangle {
    width: 50px;
    height: 4px;
    background-color: #79CBC7;
    margin: 90px 0 79px;
}

.pc--p {
    width: 445px;
    height: 112px;
}



.pc--bg-img {
    background-repeat: no-repeat;
}

.tc--bg-img-1 {
    position: absolute;
    background-image: url(../assets/images/bg-pattern-home-1.svg);
    width: 200px;
    height: 200px;
    margin: 65px 0 0;

    left: -100px;
}


.pc--bg-img-2 {
    background-image: url(../assets/images/bg-pattern-home-2.svg);
    width: 358px;
    height: 200px;

    position: absolute;
    right: 0;
    top: 410px;
}

#index-advantages-section,
#about-clients-section {
    background-color: var(--secondary-sacramento-state-green);
}

#index-stories-section,
#about-stuff-section {
    background-color: var(--secondary-deep-jungle-green);
}

section.zz {
    position: relative;
}

.iasi--bg-img-1 {
    position: absolute;
    background-image: url(../assets/images/bg-pattern-home-3.svg);
    width: 100px;
    background-repeat: no-repeat;
    height: 244px;
    right: 0;
    bottom: 0;
}

.index-advantages-section-inner {
    display: flex;
    justify-content: space-between;

    padding-top: 198px;
    padding-bottom: 140px;
    color: var(--primary-white);
}


.advantages-title-box {
    position: relative;
    width: 445px;
}

.advantages-title-box:before {
    content: '';
    position: absolute;
    top: -54px;
    left: 0;
    width: 50px;
    height: 4px;
    background-color: var(--primary-light-coral);
}

.advantages-box {
    position: relative;
    top: -12px;
    width: 540px;
}

.advantages-item {
    display: flex;
    margin-top: 16px;
}

.advantages-item--row-1 {
    padding-left: 0.5em;
}

.advantages-item-title-description-box {
    margin-left: 23px;
}

.advantages-item-title {
    color: var(--primary-light-coral);
}

.advantages-item-description {
    margin-top: 16px;
}


#index-stories-section {
    position: relative;
    padding: 1px;
}

#index-stories-section:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 147px;
    height: 100px;
    background-image: url(../assets/images/bg-pattern-home-4-about-3.svg);
    background-repeat: no-repeat;
}

#index-stories-section:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 100px;
    background-image: url(../assets/images/bg-pattern-home-5.svg);
    background-repeat: no-repeat;
}

.stories-section-wrapper {
    margin: 140px 0px 151px 0px;
}

.stories-section--title {
    text-align: center;
    color: var(--primary-white);
}

.stories-section--title__clr {
    color: var(--secondary-rapture-blue);
}

.stories-container {
    display: flex;
    gap: 28px;
    justify-content: center;
}

.stories-item {
    position: relative;
    margin-top: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 350px;
    color: var(--primary-white);
    z-index: 1;
}

.stories-item:before {
    content: '';
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate(-50%);
    width: 67px;
    height: 56px;
    background-image: url(../assets/images/icon-quotes.svg);
    background-repeat: no-repeat;
    z-index: -1;
}

.stories-user {
    margin-top: 24px;
    color: var(--secondary-rapture-blue);
}

.stories-user-position {
    font-size: 13px;
    font-family: Livvic-Regular;
    font-style: italic;
    font-weight: 500;
}

.stories-user-avatar {
    margin-top: 32px;
}

.stories-user-avatar img {
    width: 62px;
    height: 62px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}

.banner-container {
    position: relative;
    background-color: var(--primary-light-coral);
    padding: 1px;
    overflow: hidden;
}

.banner-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200px;
    height: 144px;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bg-pattern-home-6-about-5.svg);
}

.banner-wrapper {
    width: calc(100% - 420px);
    margin: 0 auto;
}

.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 76px 0px;
}

.banner-title {
    color: var(--secondary-sacramento-state-green);
}

footer {
    font-family: Livvic-SemiBold;
    padding: 1px;
    background-color: var(--secondary-dark-green);
}

.footer-inner {
    display: grid;
    grid-auto-columns: 285px 1fr 1fr;
    grid-template-areas:
        "ftr-f-box ftr-adr-box ftr-sm-box-container"
        "ftr-f-box ftr-adr-box ftr-copyright";
    margin: 48px 0px;
}

.footer-logo-img {
    width: 160px;
    height: 40.63px;
}

.mobile-nav-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.mobile-nav-inner {
    position: fixed;
    right: 0;
    top: 0;
    width: 255px;
    height: 100%;
    background-color: var(--secondary-police-blue);
    padding: 56.37px 25.87px 0px 48px;
}

.mobile-nav-inner:after {
    position: absolute;
    content: '';
    right: -100px;
    bottom: 0;
    width: 200px;
    height: 200px;
    background-image: url(../assets/images/bg-pattern-about-1-mobile-nav-1.svg);
    background-repeat: no-repeat;
}

p.mobile-nav-close {
    text-align: right;
}

.mobile-nav-close-icon:hover {
    cursor: pointer;
}

.mobile-nav-container ul {
    margin-top: 40px;
    list-style: none;
}

.mobile-nav-container ul li {
    margin-top: 24px;
}

.mobile-nav-container ul li a {
    transition: 0.3s;
    color: var(--primary-white);
}

.mobile-nav-container ul li a:hover {
    color: var(--primary-light-coral);
}

.mobile-nav-contact-btn-container {
    width: 100%; 
}

.mobile-nav-contact-btn {
    margin-top: 36px;
}

footer nav {
    margin-top: 24.89px;
}

footer nav ul {
    list-style: none;
}

footer nav ul li {
    display: inline-block;
}

footer nav ul li:not(:first-child) {
    margin-left: 40px;
}

footer nav ul li a {
    color: var(--primary-white);
}

footer nav ul li a:hover {
    color: var(--primary-light-coral);
}

.footer-address-box p {
    color: var(--secondary-police-blue);
}

.footer-soc-media-container,
.footer-copyright {
    text-align: right;
}

.footer-soc-media-container a:not(:first-child) {
    margin-left: 16px;
}

.footer-soc-media-container img {
    width: 24px;
    height: 24px;
}

.footer-soc-media-container .soc-media-icon path {
    fill: var(--primary-white);
}

.footer-soc-media-container .soc-media-icon:hover path {
    fill: var(--primary-light-coral);
}

.footer-copyright {
    margin-top: 51px;
}

.footer-address-box p,
.footer-copyright {
    color: #99A8A9;
}

.footer-first-box {
    grid-area: ftr-f-box;
}

.footer-address-box {
    grid-area: ftr-adr-box;
}

.footer-soc-media-container {
    grid-area: ftr-sm-box-container;
}

.footer-copyright {
    grid-area: ftr-copyright;
}

footer nav ul li a {
    font-size: 18px;
    line-height: 28px;
}

#about-stuff-section {
    position: relative;
    padding: 1px;
    z-index: 1;
}

#about-stuff-section:before,
#about-stuff-section:after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
}

#about-stuff-section:before {
    top: 0;
    left: -100px;
    width: 200px;
    height: 200px;
    background-image: url(../assets/images/bg-pattern-about-2-contact-1.svg);
}

#about-stuff-section:after {
    bottom: 0;
    right: 0;
    width: 147px;
    height: 100px;
    background-image: url(../assets/images/bg-pattern-home-4-about-3.svg);
}

.about-stuff-section-inner {
    margin-top: 140px;
    margin-bottom: 168px;
}

.about-stuff-section-title {
    text-align: center;
    color: var(--primary-white);
}

.stuff-section-items-grid {
    margin-top: 64px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-auto-rows: 253px;
    grid-column-gap: 30px;
    grid-row-gap: 76px;
    justify-content: center;
}

.stuff-section-items-grid .item-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--secondary-sacramento-state-green);
}

.stuff-section-items-grid .item--picture img {
    width: 96px;
    height: 96px;
    border: 2px solid #C4FFFE;
    border-radius: 50%;
}

.stuff-section-items-grid .item--name {
    margin-top: 16px;
    color: var(--secondary-rapture-blue);
}

.stuff-section-items-grid .item--description {
    color: var(--primary-white);
    font-style: italic;
}

.stuff-section-items-grid .item--description p {
    font-family: Livvic-Regular;
    font-weight: 500;
}
.item--more-information-btn svg{
    transition: 0.2s;
}
.stuff-section-items-grid .item--more-information-btn {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: var(--primary-light-coral);
    border-radius: 50%;
    transition: 0.2s;
}

.stuff-section-items-grid .item--more-information-btn:hover {
    cursor: pointer;
    background-color: var(--secondary-rapture-blue);
}

.stuff-section-items-grid .item-main-content {
    text-align: center;
}

.stuff-section-items-grid .item-second-content {
    width: calc(100% - 96px);
    text-align: center;
}

.stuff-section-items-grid .item-second--description {
    color: var(--primary-white);
}

.stuff-section-items-grid .item-second--soc-media {
    margin-top: 24px;
    margin-bottom: 63px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.stuff-section-items-grid .item-second--soc-media path {
    fill: var(--primary-white);
}

.stuff-section-items-grid .item-second--soc-media svg:hover path {
    cursor: pointer;
    fill: var(--primary-light-coral);
}

.stuff-section-items-grid .item--more-information-second-btn svg {
    transform: rotate(45deg);
    transition: 0.2s;
}

.stuff-section-items-grid .item--more-information-second-btn {
    background-color: var(--secondary-rapture-blue);
}

.stuff-section-items-grid .item--more-information-second-btn:hover {
    background-color: var(--primary-light-coral);
}

.stuff-section-items-grid .item-box {
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.stuff-section-items-grid .item-main-content {
    z-index: 10;
}

.stuff-section-items-grid .item-second-content {
    transform: rotateY(-180deg);
}

.stuff-section-items-grid .item-main-content,
.stuff-section-items-grid .item-second-content {
    backface-visibility: hidden;
    position: absolute;
}
.flipped-item{
	transform: rotateY(-180deg);
    background-color: var(--secondary-dark-green) !important;
}
#contact-main{
    position: relative;
    padding: 1px;
    z-index: 1;
}
#contact-main::before,
#contact-main::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    width: 100px;
    z-index: -1;
} 
#contact-main::before {
    top: 0;
    left: 0;
    height: 200px;
    background-image: url(../assets/images/bg-pattern-about-2-contact-1.svg);
    background-position: -100px 0px;
}
#contact-main::after {
    bottom: 0;
    right: 0;
    height: 225px;
    background-image: url(../assets/images/bg-pattern-contact-2.svg);
}
.contact-main-inner{
    margin-top: 0px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-between;
}
.contact-main-aside-title{
    margin-top: 15px;
}
.contact-ask-us{
    margin-top: 40px;
    color: var(--primary-light-coral);
    font-size: 32px;
    line-height: 48px;
}
.contact-items-container{
    margin-top: 32px;
}
.contact-item{
    margin-top: 8px;
    display: flex;
    align-items: center;
}
.contact-item .item--description{
    color: var(--primary-white);
    margin-left: 23px;
}
.contact-item .item--img{
    width: 72px;
    height: 72px;
    text-align: center;
}


div.contact-form input, textarea { 
    outline: none;
    border-width: 0 0 2px;
    background-color: transparent;
    padding: 17px;
    border-color: #BFCBCC;
}

div.contact-form  input:focus, div.contact-form  input:active, div.contact-form textarea:active, div.contact-form textarea:focus{
    border-color: #79C8C7;
}

div.contact-form input[name="submit"] {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: none;
    color: #004047;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 20px 2px;
    cursor: pointer;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
}

input, select, textarea{
    color: #FFFFFF;
}
div.contact-form textarea{
    resize: none;
}


::placeholder {   
    color: rgba(255, 255, 255, 0.6);
    font-family: Livvic-SemiBold;
}
.contact-form form{
    display: flex;
    flex-direction: column;
    width: 540px;
}
.contact-form-btn{
    margin-top: 24px;
    width: 123px;
    height: 48px;
}
.input-err{
    color: var(--primary-light-coral) !important;
    border-bottom: 2px solid var(--primary-light-coral) !important;
}
.input-err::placeholder{
    color: rgba(246, 126, 126, 0.6) !important;
}

.contact-form-err-msg{
    margin-top: 8px;
    font-size: 10px;
    line-height: 12.55px;
    font-style: italic;
    color: var(--primary-light-coral) !important;
}
.just-validate-error-label{
    display: inline;
}
#about-clients-section{
    position: relative;
    padding: 1px;
    z-index: 1;
}
#about-clients-section:before{
    content: '';
    background-image: url(../assets/images/bg-pattern-about-4.svg);
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.about-clients-section-inner{
   margin-top: 140px;
   margin-bottom: 151px;
}
.about-clients-section-title{
    text-align: center;
    color: var(--primary-white);
}
.clients-container{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-top: 64px;
}
.clients-container img.verge{
    width: 165px;
    height: 28px;
}
.clients-container img.jakarta{
    width: 184px;
    height: 24px;
}
.clients-container img.guardian{
    width: 180px;
    height: 28px;
}
.clients-container img.techradar{
    width: 165px;
    height: 28px;
}
.clients-container img.gadgets{
    width: 98px;
    height: 45px;
}

@media screen and (max-width: 1439px) {
    .wrapper {
        width: calc(100% - 75px);
    }
   
    .header-img--talent {
        width: 126px;
        height: 32px;
    }

    .header-link--home {
        margin-left: 50px;
    }

    .header-link--about {
        margin-left: 40px;
    }


    
    .iasi--bg-img-1 {
        top: 0;
    }

    .index-advantages-section-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 136px;
        padding-bottom: 100px;
    }



    .advantages-title-box {
        margin-bottom: 64px;
        left: -3em;
    }

    .advantages-title-box:before {
        top: -32px;
    }

    h2 {
        font-size: 32px;
        line-height: 32px;
    }

  
    .advantages-item-description {
        width: 478px;
    }


    .stories-container {
        gap: 0px;
        flex-direction: column;
        align-items: center;
    }

    .stories-section-wrapper {
        margin: 100px 98px 100px 97px;
    }

    .stories-item {
        margin-top: 84px;
        width: 573px;
    }

    .banner-container:after {
        bottom: -22px;
    }

    .banner-wrapper {
        width: calc(100% - 196px);
        margin: 0 auto;
    }

    .banner-btn {
        margin-top: 24px;
    }

    .footer-logo-img {
        width: 94.5px;
        height: 24px;
    }

    .footer-inner {
        grid-template-columns: 1fr;
        grid-template-areas:
            "ftr-f-box . ftr-adr-box"
            "ftr-sm-box-container . ftr-copyright";
    }

    footer nav {
        margin-top: 53px;
    }

    .footer-address-box p {
        text-align: right;
    }

    .footer-soc-media-container {
        margin-top: 33px;
        text-align: left;
    }

    footer nav ul li a {
        font-size: 15px;
        line-height: 25px;
    }

    .stuff-section-items-grid {
        grid-template-columns: 281px 281px;
        grid-column-gap: 11px;
    }



    .about-top-section-box {
        flex-direction: column;
        align-items: center;
    }

    
    .about-top-section-p {
        text-align: center;
        margin: 34px;
        color: white;
        width: 457px;
    }

    .about-top-section-p::before {
        display: none;
    }

    .about-top-section-p .body-1 {
        font-size: 15px;
        line-height: 28px;
        font-weight: 600;
        font-style: normal;
    }

    
    .tc--bg-img-1 {
        display: none;
    }

  
    .tc--h1 {
        text-align: center;
        width: 683px;
        height: 112px;

        font-size: 64px;
        line-height: 56px;

        padding: 0 2.5em 0 2.5em;
        margin: 0 0 24px 0;
    }

    .headings-h1__large {
        font-size: 64px;
        line-height: 56px;
    }

    .pc--rectangle {
        display: none;
    }

    .pc--p {
        text-align: center;
        font-size: 15px;
        line-height: 25px;

        width: 457px;
        height: 87px;
    }

    .talent-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .paragraph-container {
        height: 340px;
    }

    .pc--bg-img-2 {

        right: 40px;
        top: 240px
    }

    
    .contact-main-inner{
        flex-direction: column;
        align-items: center;
    }
    #contact-aside .contact-main-aside-title,
    #contact-aside .contact-ask-us{
        text-align: center;
    }
    #contact-aside, .contact-form{
        width: 540px;
    }
    .contact-form{
        margin-top: 64px;
    }
    #about-clients-section::before{
        height: 100px;
        background-position: 0px -100px;
    }
    .clients-container img.verge{
        width: 103px;
        height: 17px;
    }
    .clients-container img.jakarta{
        width: 114px;
        height: 14px;
    }
    .clients-container img.guardian{
        width: 112px;
        height: 17px;
    }
    .clients-container img.techradar{
        width: 103px;
        height: 17px;
    }
    .clients-container img.gadgets{
        width: 61px;
        height: 28px;
    }
}


@media screen and (max-width: 767px) {
    .wrapper {
        width: calc(100% - 48px);
    }
    .headings-h1__small {
        font-size: 40px;
        line-height: 40px;
    }
    
    .header-img--talent {
        width: 126px;
        height: 32px;
    }

    header .btn-type-1 {
        display: none;
    }

    .header-link--home,
    .header-link--about {
        display: none;
    }

   
    .header-img--hamburger-icon {
        display: block;
        width: 20px;
        height: 17px;
    }

    .header-img--hamburger-icon:hover {
        display: block;
        width: 20px;
        height: 17px;
        cursor: pointer;
    }


    
    .talent-container {
        display: flex;
        justify-content: center;
    }

   
    .tc--h1 {
        font-size: 40px;
        line-height: 40px;

        width: 327px;
        height: 80px;
        padding: 0 1em 0;
        margin: 0px 0 18px 0;
    }

    .headings-h1__large {
        font-size: 40px;
        line-height: 40px;
    }

    
    .paragraph-container {
        margin: 0 24px 0;
    }

    .pc--p {
        width: 327px;
        height: 112px;
    }

  
    .pc--bg-img-2 {
        right: -15px;
    }


    
    .index-advantages-section-inner {
        padding-top: 100px;
        padding-bottom: 64px;
    }

  
    .advantages-title-box {
        width: 240px;
        height: 160px;

        position: absolute;
        left: 1.5em;
    }

    .advantages-item--row-1 {
        margin-top: 14em;
    }

    .advantages-box {
        width: 375px;
    }

    .advantages-item{
    margin-left: -8px;
    }

    .aitdb-2,
    .aitdb-3 {
       
        padding-left: 7px;
    }


    .advantages-item-icon {
        position: absolute;
        left: 10em;
    }

   
    .advantages-item-title-description-box {
        margin-top: 90px;
    }

    .advantages-item-title {
        display: flex;
        justify-content: center;
    }

  
    .advantages-item-description {
        margin-top: 18px;
        width: 327px;
        height: 75px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 45px;
    }
    .stories-section-wrapper {
        margin: 140px 24px 164px 24px;
    }

    .stories-item {
        width: 100%;
    }

    .banner-inner {
        flex-direction: column;
    }

    .banner-title {
        text-align: center;
    }

    .footer-inner {
        grid-template-areas:
            "ftr-f-box"
            "ftr-adr-box"
            "ftr-sm-box-container"
            "ftr-copyright";
    }

    .footer-first-box,
    .footer-address-box,
    .footer-soc-media-container,
    .footer-copyright {
        margin: 0 auto;
    }

    .footer-first-box {
        text-align: center;
    }

    footer nav {
        margin-top: 24px;
    }

    .footer-address-box {
        margin-top: 24px;
    }

    .footer-address-box p {
        text-align: center;
    }

    .footer-soc-media-container {
        margin-top: 40px;
    }

    .footer-copyright {
        margin-top: 16px;
        text-align: center;
    }

    #about-stuff-section:before {
        height: 100px;
        background-position: 0px -100px;
    }

    .stuff-section-items-grid {
        grid-auto-rows: unset;
        /* grid-template-columns: 1fr; */
        grid-template-columns: 327px;
        grid-row-gap: 52px;
    }

    .stuff-section-items-grid .item-box {
        min-height: 253px;
    }

    .about-stuff-section-inner {
        margin-top: 100px;
    }

  
    #about-top-section::before {
        height: 100px;
    }

    .about-top-section-p {
        margin-top: 16px;
        width: 327px;
    }
 
    #contact-main {
        display: block;
    }

    #contact-aside {
        width: 100%;
    }
    
    div.contact-form {
        width: 100%;
    }

   
    #contact-main::before{
        display: none;
    }
    #contact-main::after{
        height: 100px;
    }
    .contact-items-container{
        margin: 32px auto 0px auto;
        width: 327px;
    }
    .contact-form{
        margin-top: 56px;
    }
    .contact-form form{
        width: 325px;
        margin: 0 auto;
    }
    #about-clients-section::before{
        width: 100px;
        height: 100px;
        background-position: -100px -100px;
    }
    .clients-container{
        flex-direction: column;
        align-items: center;
        gap: 90px;
    }
    .contact-item .item--description {
        text-align: left;
    }
    .clients-container img.verge{
        width: 146.56px;
        height: 24.19px;
    }
    .clients-container img.jakarta{
        width: 162.21px;
        height: 19.92px;
    }
    .clients-container img.guardian{
        width: 159.37px;
        height: 24.19px;
    }
    .clients-container img.techradar{
        width: 146.56px;
        height: 24.19px;
    }
    .clients-container img.gadgets{
        width: 86.8px;
        height: 39.84px;
    }
}



